<div class="recommende-article-component">
    <ul class="recommende-article-list">
        <li v-for="monthArticle in monthArticles" v-on:click="getArticlesWithMonth"><a>{{monthArticle.MonthAndCountDisplay}}</a></li>
    </ul>
</div>
