<div class="search-component">
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button id="searchBtn" v-on:click="search" class="btn btn-primary" type="button">Search</button>
        </span>
    </div>
</div>