<div class="user-info-component">
    <div>
        <span>Name:</span><a v-on:click="manageUser">sxc</a>
    </div>
    <div>
        <a>Register</a>
        <a>LogIn</a>
        <a>LogOut</a>
    </div>
</div>
